/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
.notify-badge {
  position: absolute;
    right:-15px;
    top:-5px;
    background:red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:2.5px 5px;
    font-size:10px;
}

/* .post{
position: absolute;
margin-right: 50px;
} */


.topnav {
  overflow: hidden;
  background-color: #3F51B5;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* Create a right-aligned (split) link inside the navigation bar */
.split {
  float: right;
  color: white;
}

ul.nav {
  float: right;

}

.nav-bar {
  /* flex-direction: row; */
  padding: 3px 10px;
  width: 100%;
  background-color: #3F51B5;
  text-align: left;
}


