.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #2551ca;
    border-radius: 50%;
<<<<<<< HEAD
    position: relative;
    animation: rotate 1s linear infinite;
  
    margin-top: 30%;
    margin-left: 40%;
}

.loader::before,
.loader::after {
    content: "";
=======
    display: inline-block;
>>>>>>> parent of 021b5a9 (quitando material del proyecto)
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}