.login_container {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

.login_form_1 {
    padding: 10%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-image: url(/assets/img/portada.jpg);
}

.login_form_1 h3 {
    text-align: center;
    color: #333;
}

.login_form_2 {
    padding: 2%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login_form_2 h3 {
    text-align: center;
    color: #303069
}

.login_container form {
    padding: 2%;
}