.card {
    width: 21rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10mm;
    margin-top: 10mm;
    margin-left: 10mm;
}

.card_img_top {
    height: 18rem;
    width: 21rem;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.card_img_top:hover {
    transform: scale(1.8);
}

.overflow {
    height: 50%;
    overflow: hidden;
}

/**la imagen hace zoom pero no se ve en la pantalla, solo se ven el recuadro gracias al overflow:hidden **/



/* Make the image responsive */

/* Style the button and place it in the middle of the container/image */
.btn {
    position: absolute;
    background-color: red;
    color: black;
    margin-top: 4mm;
    margin-left: -101mm;
    border: none;
    cursor: pointer;
    font-size: 6mm;
}

.container .btn:hover {
    background-color: rgb(62, 62, 223);
    color: white;
}