.Typography {
    font-size: clamp(18px, 3vw, 40px);
}

.Typography2 {
    font-size: clamp(14px, 2vw, 30px);
}

.Typography3 {
    font-size: clamp(14px, 2vw, 30px);
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}

.card {
    width: 300px;
    height: 460px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10mm;
    margin-top: 10mm;
    margin-left: 10mm;
    border-radius: 30px;
    /* background: linear-gradient(45deg, red, blue); */
   
}

.MenuItem {
    display: inline-block
}

.card_img_top {
    height: 18rem;
    width: 21rem;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.card_img_top:hover {
    transform: scale(1.8);
}

.overflow {
    height: 50%;
    overflow: hidden;
}

/**la imagen hace zoom pero no se ve en la pantalla, solo se ven el recuadro gracias al overflow:hidden **/

.cardActions {
    margin-left: 10px;
}

/* Make the image responsive */

/* Style the button and place it in the middle of the container/image */
.btn {
    position: absolute;
    background-color: transparent;
    color: black;
    font-size: 16px;
    margin-top: 4mm;
    margin-left: -11mm;
    border: none;
    cursor: pointer;
    font-size: 6mm;
}

.container .btn:hover {
    background-color: blue;
    color: white;
    border-radius: 20px;
}

.cardContent {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}

.editButton {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.editButton:hover {
    transform: scale(1.8);
}